
// Colors
$white-light: #FFFFFF;
$white-satured: #c3c4c7;
$yellow: #dec117;
$black: #000000;
$gray: #000000d9;

// Font-size
$font-xm: 17px;
$font-sm: 18px;
$font-md: 20px;
$font-lg: 24px;
$font-xlg: 48px;